<div class="container-fluid">
  <footer class="footer">
    <small>
      Copyright &copy; Khadijah Brown
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>